{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe!{% endblock %}

{% block body %}
    <section >
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="#" class="btn-retour">Retour</a>
                </div>
                <div class="col-12">
                    <h1 class="text-center">Changer de mot de passe </h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <h2>Modifier</h2>
                </div>
            </div>
        </div>

    </section>


    <section id="statut">
        <div class="container">
            <div class="row connexion">



                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">

                    <form method="post">


                        <div class="form-group row">
                            <label for="oldPass" class="col-12 col-form-label">Mot de passe actuel</label>
                            <div class="col-12">
                                <input type="password" class="form-control" name = "oldPass" id="oldPass" required>



                                <div class="form-group row">
                                    <label for="newPass" class="col-12 col-form-label"> Nouveau mot de passe</label>
                                    <div class="col-12">
                                        <input type="password" class="form-control" name = "newPass" id="newPass"  required>

                                        <div class="form-group row">
                                            <label for="newPass2" class="col-12 col-form-label"> Confirmer mot de passe</label>
                                            <div class="col-12">
                                                <input type="password" class="form-control" name = "newPass2" id="newPass2"  required>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 p-5">
                                                <button href="{{ path('app_adminproducts_edit') }}" class="btn btn-primary" type="submit" >Enregistrer</button>
                                                <!--a class="btn btn-primary" href="{# path('app_adminproducts_edit', {'id' : product.id}) #}">Modifier</a-->
                                            </div>
                                        </div>
                                    </div>
                    </form>



                </div>
    </section>
{% endblock %}
