/* FAQ */

.faq-question
{
    display:block;
    width:100%;
    text-align:left;
    border:0;
    background-color: transparent;
    padding:1em 0;
    border-bottom:1px solid #E7E4D8;
}

.faq-question::after{
    font-family: 'FontAwesome';
    content:"\f106";
    float:right;
    display:block;
}
.faq-question.collapsed:after{
    content:"\f107";
}
.faq-answer p
{
    padding:1em 0;
}
