
    @import '~pretty-checkbox/src/pretty-checkbox.scss';


#header-achat{
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 4px;
    box-shadow: 0px 3px 10px 5px rgba(0, 0, 0, .2);
    background-position-y: top;
}

.titre-header{
    color: #211400;
    font-weight: bold;
    margin-top: 4px;
    
}
.prix{
    font-size: 1.5rem;
    font-weight: bold;
    color: #417B5A;
}
.prix sup {
    font-size: 1.2rem;
    top: -0.5rem;
}
.prix span{
    font-size: 0.9rem;
    margin-left: 0rem;
    font-weight: lighter;
    line-height: -10rem;
}
#indication-prix{
    text-align: end;
    margin-top: 13px;
}
#indication-prix h3::after{
    content: "par mois";
    font-size: 0.8rem;
    font-weight: lighter;
    color: #417B5A;
    position: absolute;
    right: 10%;
    bottom: 0px;
}

.separator{
    background-color: #417B5A;
    width: 18px;
    height: 6px;
    position: absolute;
    bottom: 21px;
    left: 15px;
    display: block;
}

#infos-livraison{
    background-color: #F8F7F4;
    height: 120px;
    width: 100%;
    height: 520px;

}
.form-check-label{
    text-decoration: none;
    
}
.form-check{
    padding-top: 22px;
}
.form-check sup{
    top: 0em;
left: 0.2rem;
font-weight: lighter;
font-style: italic;
font-size: 0.9rem;
}


.validation{
    margin-top: 450px;
    align-items:flex-end;
}
#inlineFormCustomSelect{
    width: 100%;
    margin-top: 25px;
    display: flex;
}

label[for="lastname"]{
    margin-bottom: 4px;

}
label[for="firstname"]{
    margin-bottom: 4px;
}
label[for="inputAddress"]{
    margin-bottom: 4px;
}

label[for="inputAddress2"]{
    margin-bottom: 4px;
}
label[for="inputCity"]{
    margin-bottom: 4px;
}
label[for="inputCitycode"]{
    margin-bottom: 4px;
}

.form-group{
    margin-bottom: 10px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #696961;
}
.form-check-label{
    font-weight: initial;
}
#barre-prog .progression {
    position:relative;
    height: 2px;
    background-color: #696961;
    margin-top: 40px;
    margin-bottom: 40px;
}

#barre-prog .progression {
    width: calc(100%/3);
}


#barre-prog .progression:first-child::before,
#barre-prog .progression::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #696961;
    position:absolute;
    top:-4px;
}

#barre-prog .progression:first-child::before{
    left:0;
}

#barre-prog .progression::after{
    right:0;
}

#barre-prog .active {
    height: 4px;
    background-color: #417B5A;
}

#barre-prog .active:first-child::before,
#barre-prog .active::after{
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: #417B5A;
    top:-6px;
}