{% extends 'base.html.twig' %}

{% block title %}Hello DeliveryAddressController!{% endblock %}

{% block stylesheets %}

    <!-- Bootstrap CSS -->
    <script src="https://kit.fontawesome.com/42cb960523.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link href="{{ asset('/css/general.css') }}" rel="stylesheet"/>
    <link href="{{ asset('/css/App.css') }}" rel="stylesheet"/>

{% endblock %}

{% block body %}
    <div class="container my-5 text-center">
        <h1>Adresse du point relai</h1>

        <section class="mt-5 card-list container row justify-content-between mx-auto">
            <div class="container">
                <input type="text" class="shad-i px-3" placeholder="Search">
                <button class="shad-b" type="button" id="search">
                    <i class="fas fa-search mr-1"></i>
                </button>
            </div>
        </section>
    </div>


{% endblock %}
