{% extends 'base.html.twig' %}

{% block title %}Hello ProductsController!{% endblock %}

{% block body %}

    <h1>{{ product.label }}</h1>
    <p>{{ product.photo }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.price }}</p>
{% endblock %}
