{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}



{% block body %}

    {% for product in liste %}

        <ul class="list">
            <li><strong>{{ product.label }}</strong></li>
            <li>{{ product.photo }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.price }}</li>
        </ul>

    {% endfor %}

{% endblock %}