{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}



{% block liste %}

    <h1>Liste des paniers</h1>

    {% for product in liste %}

        <div class="list">
            <li><strong>{{ product.label }}</li></strong> <hr>
            <li>{{ product.photo }}</li>
            <li>{{ product.description }}</li>
            <li>{{ product.price }}</li>
        </div>

    {% endfor %}


{% endblock %}