{% extends 'base.html.twig' %}


{% block title %}Accueil{% endblock %}

{% block body %}

    <section id="titre">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-white text-center mt-5">Votre Panier de légumes chez vous chaque semaine</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4  mt-n5">
                <a role="button" class="btn btn-primary btn-block" href="#sub-1">Je m'abonne</a>
            </div>
        </div>
    </div>

    <div class="section-separator"></div>

    <section>
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h2 class="text-center">Comment ça marche ?</h2>
                </div>

                <div class="col-12 col-md-4 text-center mt-5">
                    <h2>Vous choisissez parmis nos trois Paniers</h2>
                    <img src="img/Groupe de masques 1.svg" alt="la commande">
                </div>

                <div class="col-12 col-md-4 text-center mt-5">
                    <h2>On vous livre ou vous recuperez votre panier</h2>
                    <img src="img/Groupe de masques 2.svg" alt="la livraison">
                </div>

                <div class="col-12 col-md-4 text-center mt-5">
                    <h2>Vous degustez des fruits et légumes de saison</h2>
                    <img src="img/Groupe de masques 3.svg" alt="la degustation">
                </div>

            </div>
        </div>
    </section>

    <div class="section-separator"></div>

    <div class="container">
        <h2 class="text-center pb-3"> Nos Panier </h2>
    </div>

    <section class="section-full">
        <img src="img/assorted-variety-of-vegetables-on-basket-2255924.png" alt="le panier de légumes classique">
    </section>

    <section id="sub-1" class="section-bg">
        <div class="container text-center">
            <div class="row">
                <h2 class="col-12 p-3"> Panier Classique</h2>
                <h3 class="col-12"></h3>
                <h3 class="col-12">mensuel</h3>
                <p class="col-12">Votre panier livré chez vous chaque semaine et sans engagement</p>
                <p class="col-12">1 à 2 personnes 4 à 5 kgs de fruits et légumes frais</p>
                <div class="col-12">
                    <a role="button" class="btn btn-primary btn-block" href="{{ path('app_products_index', {'id': 1})}}">Je m'abonne</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-full">
        <img src="img/panier famille.png" alt="panier famille">
    </section>

    <section class="section-bg">
        <div class="container text-center">
            <div class="row">
                <h2 class="col-12 p-3"> Panier famille</h2>
                <h3 class="col-12">30&euro;</h3>
                <h3 class="col-12">mensuel</h3>
                <p class="col-12">Votre panier livré chez vous chaque semaine et sans engagement</p>
                <p class="col-12">3 à 5 personnes 6 à 8kgs de fruits et légumes frais</p>
                <div class="col-12">
                    <a role="button" class="btn btn-primary btn-block" href="{{ path('app_products_index', {'id': 2})}}">Je m'abonne</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section-full">
        <img src="img/saveurs-du-berry-1-photo-studio-pixel.png" alt="panier premium">
    </section>

    <section class="section-bg">
        <div class="container text-center">
            <div class="row">
                <h2 class="col-12 p-3"> Panier premium</h2>
                <h3 class="col-12">40&euro;</h3>
                <h3 class="col-12">trimestriel</h3>
                <p class="col-12">Votre panier livré chez vous à chaque saison et sans engagement</p>
                <p class="col-12">2 à 4 personnes 5kgs de produits locaux et faits maisons</p>
                <div class="col-12">
                    <a role="button" class="btn btn-primary btn-block" href="{{ path('app_products_index', {'id': 3})}}">Je m'abonne</a>
                </div>
            </div>
        </div>
    </section>

    <div class="section-separator"></div>

    <section id="temoignage">
        <div class="container">
            <div class="text-center pt-5">
                <img  class="mb-2" src="img/jason-briscoe-VBsG1VOgLIU-unsplash.png" alt="un couple qui cuisine">
                <h2 class="p-2">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    Nous avons recomencé à cuisiner et mieux manger, c'est le début du bonheur
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                </h2>
            </div>
        </div>
    </section>

    <div class="section-separator"></div>

{% endblock %}
