
<footer id="infos">
    <div class="cgv d-flex flex-column ">
        <a class="mb-2" href="#">CGU (Conditions Générales d’Utilisation)</a>
        <a class="mb-2" href="#">Gestion des cookies (RGPD)</a>
        <a href="#">Mentions légales</a>
    </div>
</footer>